<section>
  <div class="max-w-7xl mx-auto">
    <div>
      <h2 class="text-3xl font-normal bg-slate-200 mx-8 inline-block">
        TO DO List
      </h2>
    </div>
    <div class="m-8">
      <div
        *ngFor="let todo of todos"
        class="flex max-w-lg items-center mt-3 gap-x-3"
      >
        <button
          (click)="removeTodo(todos.indexOf(todo))"
          class="bg-pink-100 px-2 py-1 hover:bg-pink-200 rounded-lg"
        >
          Remove</button
        ><span class="bg-green-100 rounded-full px-1.5 py-0">{{todos.indexOf(todo)+1}}.</span> {{ todo }}
      </div>
    </div>
    <form class="mx-8 flex gap-x-3" (ngSubmit)="addTodo()">
      <input
        class="rounded-lg p-2 w-80 bg-slate-100"
        type="text"
        name="todoText"
        [(ngModel)]="todoText"
      />
      <button
        class="bg-indigo-100 px-3 py-1 rounded-lg hover:text-white hover:bg-indigo-300"
        type="submit"
        value="Add TODO"
      >
        Add Todo
      </button>
    </form>
  </div>
</section>
