<section class="bg-slate-900 py-5 text-slate-100">
  <div class="max-w-7xl flex mx-auto justify-between">
    <div>
      <h1 class="text-6xl max-w-3xl p-8 md:text-7xl font-bold tracking-wider">
        LET'S GO AND HUNT SOME PIZZA
      </h1>
      <button
        (click)="onClick('menu-list')"
        class="m-8 px-6 py-4 rounded-xl text-3xl font-semibold -mt-1 bg-slate-100 text-slate-900"
      >
        Take me there!
      </button>
    </div>

    <div class="overflow-hidden ml-20 -mt-10 group">
      <img
        class="hidden md:block md:max-w-2xl max-w-5xl -mt-20 rotate-45"
        [src]="'./assets/img/pizza-slice.png'"
        alt=""
      />
      <img
        class="absolute hidden md:block md:max-w-lg -mt-96 -ml-44 -rotate-45"
        [src]="'./assets/img/pizza-slice.png'"
        alt=""
      />
    </div>
  </div>
</section>

<section class="bg-slate-100 text-slate-100">
  <div class="max-w-7xl flex mx-auto justify-between">
    <app-menu-list id="menu-list"></app-menu-list>
  </div>
</section>
